<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--机器编号-->
    <add key="MachineId" value="10000"/>
    <add key="MetricsKey" value="Flight.Booking.SOA.GetFlight.ErrorCount,Flight.Booking.SOA.GetFlight|Flight.Booking.SOA.GetFlight.ErrorCount"/>
    <add key="MONITORCENT_URI" value="http://192.168.1.203:11216/MonitorCenter/Index"/>
    <add key="DEFAULT_METRICS_KEY" value="JinRi.Notify.RabbitMQ.Publish,JinRi.Notify.RabbitMQ.Subscribe,JinRi.Notify.RedoService,JinRi.Notify.SenderService.Send,JinRi.Notify.RabbitMQ.Publish.Error,JinRi.Notify.RabbitMQ.Subscribe.Error,JinRi.Notify.SenderService.Send.Error,JinRi.Notify.RedoService.Error"/>
    <add key="DEFAULT_ZOOM" value="zoom:53%"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>