<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <!--今日应用编号-->
  <add key="AppId" value="100406"/>
  <!--机器编号-->
  <add key="MachineId" value="10000"/>
  <!--Metrics 服务端地址-->
  <add key="Metrics.ServiceReportUrl" value="http://192.168.2.23:10001/Metrics.asmx" />
  <!--日志目录-->
  <add key="log4net.Config" value="Configs/log4net.config"/>
  <!-- 是否开启远程日志 -->
  <add key="EnableRemotingLog" value="1"/>
  <!--服务配置-->
  <add key="LogSetting" value="{LogLevel:'Debug'}"/>
  <add key="RedoServiceSetting" value="{IsOpenBatchSendPushMessage:false, AutoFlushSendMessage: 1, PushAheadTime: 1, ScanSettingList:[{MessagePriority:'High', MessageType:['OrderTicketOut'], LimitCount:100, PushStatus:4, InternalTime:2, IdleSleepTime:100, PrevScanTimes:176800, NextScanTimes:2},{MessagePriority:'Middle', MessageType:[], LimitCount:60, PushStatus:4, InternalTime:2, PrevScanTimes:176800, IdleSleepTime:200, NextScanTimes:2},{MessagePriority:'Normal', MessageType:['OrderReturnResult','ThirdOrderPaySuccess'], LimitCount:40, PushStatus:4, InternalTime:2, PrevScanTimes:176800, IdleSleepTime:400, NextScanTimes:2},{MessagePriority:'Low', MessageType:['OrderCancel'], LimitCount:20, PushStatus:4, InternalTime:2, PrevScanTimes:176800, IdleSleepTime:1000, NextScanTimes:2}]}"/>
</appSettings>