@{
    Layout = null;
}

<div title="配置中心" data-options="iconCls:'icon-layout',collapsed:false,collapsible:false" style="overflow:auto;padding:10px;">
    <ul class="easyui-tree">
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/NotifyMessageType/Index">消息类型配置</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/NotifyInterfaceSetting/Index">通知接口配置</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/NotifySetting/Index">NotifySetting</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/DistributedCache/Index">缓存管理</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/Common/ExecSql">执行SQL</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/Instruction/Index">指令中心</a></li>
    </ul>
</div>
<div title="消息中心" data-options="iconCls:'icon-layout',collapsed:false,collapsible:false" style="padding:10px;">
    <ul class="easyui-tree">
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/NotifyMessage/Index">接收的消息</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/PushMessage/Index">通知的消息</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/DifferentShow/Index">差异数据查询</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/DifferentShow/SendToReceive">补推消息</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/DifferentShow/GetDetail">推送数据查询</a></li>
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/DifferentShow/OrderIndex">订单查询</a></li>
    </ul>
</div>
<div title="监控中心" data-options="iconCls:'icon-layout',collapsed:false,collapsible:false" style="padding:10px;">
    <ul class="easyui-tree">
        <li iconcls="icon-gears"><a href="javascript:void(0);" url="/MonitorCenter/Index">监控中心</a></li>
    </ul>
</div>
