<?xml version="1.0" encoding="utf-8"?>
<client>
  <endpoint address="http://192.168.5.149:8030/SendService.svc" binding="basicHttpBinding"
      bindingConfiguration="BasicHttpBinding_ISendService" contract="ISendService"
      name="BasicHttpBinding_ISendService" />
  <endpoint address="http://192.168.6.125:8040/DirectReceiveService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectReceiveService"
      contract="BuilderReceiveServiceSOA.IDirectReceiveService"
      name="BasicHttpBinding_IDirectReceiveService" />
  <endpoint address="http://notify.receiver.jinri.cn/ReceiveService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiveService"
      contract="ReceiverReceiveServiceSOA.IReceiveService" name="BasicHttpBinding_IReceiveService" />
 <!-- <endpoint address="http://192.168.1.203:11217/ReceiveService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiveService"
      contract="ReceiverReceiveServiceSOA.IReceiveService" name="BasicHttpBinding_IReceiveService" />-->
</client>