<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings configSource="Configs\AppSetting.config" />
  <connectionStrings configSource="Configs\Database.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime maxRequestLength="2097151" targetFramework="4.5" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider2" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4, Culture=neutral, PublicKeyToken=2c7f6d112bbdac97" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <!--<behaviors configSource="Configs\ServiceModel.Behaviors.config" />-->
    <bindings configSource="Configs\ServiceModel.Bindings.config" />
    <client configSource="Configs\ServiceModel.Client.config" />
  </system.serviceModel>
</configuration>