<?xml version="1.0" encoding="utf-8"?>
<client>
  <endpoint address="http://192.168.5.149:8040/DirectReceiveService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectReceiveService"
      contract="BuilderReceiveServiceSOA.IDirectReceiveService"
      name="BasicHttpBinding_IDirectReceiveService" />
</client>