<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings> 
  <!--正式库-->
 <!-- <add name="JinRiDB_SELECT" connectionString="GyEItJtJeAiC1OSrT8KJzYRTxMvhG4AtUH6SxFeZ7O62BZEYiA5luRds3UxCPviSzh3U7fhkyPmlvf1i3wjve6t0qYDgrVPwYRFUIahqTBF4DDZYebYq8UIpYD5w47qEaO5lZGTsMawv+3ORyHbelc48OpGMeWX2FKWmdWPWRjQmHX1RXxQCVzY9cpc3SROse6OgK6iJ1Q79SP98U1mgqp87vVwvMaEhrcyZs/jBrxAhrZv49izla1SyVA3S+W0HMmkjq1RSaa8=" providerName="System.Data.SqlClient" />
      <add name="Log4Net" connectionString="N4PuJaLgVk6UN+J3zjBFqPOuIQv/IpMl1HXl+Dlv71KLlHsTysLXhK2DH9Nm1m9rBNwuspfp02M38uySj9JCwKfrK+tx6aTj17vSBHf1skXHGx1TBwsNg8OYiD89Ld1N" providerName="System.Data.SqlClient" />-->
 <!-- 测试库-->
  <add name="JinRiDB_SELECT" connectionString="GyEItJtJeAgBrfz5z4LSm5zxsI9ELswiF6ydL7RAZ0i2BZEYiA5luRds3UxCPviSzh3U7fhkyPlOBulX/D1/FTXfa2zSyARy7nKmEd+XO3ydk6sxVK0yxA==" providerName="System.Data.SqlClient" />
  <add name="Log4Net" connectionString="N4PuJaLgVk6UN+J3zjBFqPOuIQv/IpMl1HXl+Dlv71KLlHsTysLXhPRmAeFvI6l5QOa0wJ9TGJeBypjbKxcCh4kNYzXW8QcNbBcPe1/WfRw=" providerName="System.Data.SqlClient"/>
  <add name="Log4Net_CMD" connectionString="N4PuJaLgVk6UN+J3zjBFqPOuIQv/IpMl1HXl+Dlv71KLlHsTysLXhPRmAeFvI6l5QOa0wJ9TGJeBypjbKxcCh4kNYzXW8QcNbBcPe1/WfRw=" providerName="System.Data.SqlClient"/>

</connectionStrings>