<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <!--今日应用编号-->
  <add key="AppId" value="100405"/>
  <!--机器编号-->
  <add key="MachineId" value="10000"/>
  <!--Metrics 服务端地址-->
  <add key="Metrics.ServiceReportUrl" value="http://192.168.2.23:10001/Metrics.asmx" />
  <!--日志目录-->
  <add key="log4net.Config" value="Configs/log4net.config"/>
  <!-- 是否开启远程日志 -->
  <add key="EnableRemotingLog" value="1"/>
  <!--服务配置-->
  <add key="LogSetting" value="{LogLevel:'Debug'}"/>
  <add key="SendServiceSetting" value="{IsOpenBatchSendHighMessage:false, AutoFlushSendHighMessage:1, IsOpenBatchSendMiddleMessage:true, AutoFlushSendMiddleMessage:3, IsOpenBatchSendNormalMessage:true, AutoFlushSendNormalMessage:4, IsOpenBatchSendLowMessage:true, AutoFlushSendLowMessage:5, SendToClientTimeout:15000}"/>
</appSettings>