<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JinRi.Notify.Frame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JinRi.Notify.Frame.Properties.Settings>
            <setting name="JinRi_App_Framework_SmsForJinRi_SmsService" serializeAs="String">
                <value>http://sms2.jinri.cn/JinRiSms/SmsService.asmx</value>
            </setting>
        </JinRi.Notify.Frame.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
