<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <!--今日应用编号-->
  <add key="AppId" value="100406"/>
  <!--机器编号-->
  <add key="MachineId" value="10000"/>
  <!--Redis 服务器地址-->
  <!--<add key="RedisServerIP" value="192.168.2.196:6379"/>-->
  <!--Metrics 服务端地址-->
  <add key="Metrics.ServiceReportUrl" value="http://192.168.2.23:10001/Metrics.asmx" />
  <!--数据库连接解密密钥-->
  <add key="EncryptKey" value="BeiJing#2008"/>
  <!-- Redis服务器 -->
  <!--<add key="RedisFxServerIP" value="192.168.2.196:6379"/>-->
  <add key="FxRedisServerIP" value="192.168.2.196:6380"/>
  <!-- IBE接口地址 -->
  <add key="InterfaceUrl" value="http://ws.ibeservice.com/vibe.asmx/AV?sHashcode=acbf7d94d56f422abad23442892dba06#orgCity={0}#dstCity={1}#FlightDate={2}#Airline=#direct=true#eticket=false#outstyle=1"/>
  <!--机票接保险项目接口-->
  <add key="InsOrderInterface" value="http://192.168.2.47:5666/InterfaceNavigation.aspx" />
  <!--日志目录-->
  <add key="log4net.Config" value="Configs/log4net.config"/>
  <!--ETERM配置中心 域名或IP地址，多个请用','号隔开-->
  <add key="ConfigCenterDomainIP" value="114.80.69.234:8090,114.80.79.146:8090,61.129.66.65:8090"/>
  <add key="ConfigCenterURL" value="http://{0}/LoadBalancing.ashx?SectionName={1}"/>
  <!--Parallel允许的最大并行度-->
  <add key="ParallelMaxDegreeOfParallelism" value="5"/>  
  <!--切单测试-->
  <add key="StatusCode" value="5"/>
  <!-- BDI接口地址 -->
  <add key="BDIInterfaceUrl" value="http://101.200.1.210:889/PidServiceAv.asmx"/>
  <!-- BDI用户名 -->
  <add key="BDIUserName" value="JT001"/>
  <!-- BDI密钥 -->
  <add key="BDIKey" value="JT001"/>
  <!-- 是否开启远程日志 -->
  <add key="EnableRemotingLog" value="1"/>
</appSettings>