<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--JinRiNotify库_读-->
  <add name="JinRiNotify_SELECT" connectionString="1HXl+Dlv71IchXnfml+vF4Tyh5TffcKXAGHngc1cMYVpSz8g4W2oIMXukVhAOF6DC50WQYHTXzRo+1Vb7feJrIjE5o4vBDsTYopZM/enOZmjhbCI2JPtf9wZd04GrgqJxIetyaeHHNgqtfTV7SJesicd8D3SYDY7IPwW28aIHzI="	providerName="MySql.Data.MySqlClient" />
  <!--JinRiNotify库_写-->
  <add name="JinRiNotify_CMD" connectionString="1HXl+Dlv71IchXnfml+vF4Tyh5TffcKXAGHngc1cMYVpSz8g4W2oIMXukVhAOF6DC50WQYHTXzRo+1Vb7feJrIjE5o4vBDsTYopZM/enOZmjhbCI2JPtf9wZd04GrgqJxIetyaeHHNgqtfTV7SJesicd8D3SYDY7IPwW28aIHzI="	providerName="MySql.Data.MySqlClient" />
  <add name="JinRiDB_SELECT" connectionString="GyEItJtJeAgBrfz5z4LSm5zxsI9ELswiF6ydL7RAZ0i2BZEYiA5luRds3UxCPviSzh3U7fhkyPlOBulX/D1/FTXfa2zSyARy7nKmEd+XO3ydk6sxVK0yxA==" providerName="System.Data.SqlClient" />
  <add name="Log4Net_CMD" connectionString="N4PuJaLgVk6UN+J3zjBFqPOuIQv/IpMl1HXl+Dlv71KLlHsTysLXhPRmAeFvI6l5QOa0wJ9TGJeBypjbKxcCh4kNYzXW8QcNbBcPe1/WfRw=" providerName="System.Data.SqlClient"/>


</connectionStrings>