<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Servers" type="JinRi.Notify.Frame.ServersSection, JinRi.Notify.Frame, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="TaskHandles" type="JinRi.Notify.Frame.TaskHandlesSection, JinRi.Notify.Frame, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="TaskAllocAlgProviders" type="JinRi.Notify.Frame.TaskAllocAlgProvidersSection, JinRi.Notify.Frame, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="Memcached" type="JinRi.Notify.Frame.MemcachedSection, JinRi.Notify.Frame, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="Redis" type="JinRi.Notify.Frame.RedisSection, JinRi.Notify.Frame, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="DataBufferSize" value="10"/>
    <add key="DataBufferPoolSize" value="3"/>
    <add key="LogToServer" value="InterfaceLogServer_66"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
    <add key="AppLogger.MSMQ" value=".\private$\interfacelog" />
    <add key="DefaultCacheProvider" value="JinRi.Notify.Frame.WebCacheProvider, JinRi.Notify.Frame"/>
  </appSettings>
  <Servers>
    <!--<add Code="InterfaceLogServer_66" Address="120.132.136.67" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="300" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="239" Address="114.80.69.239" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="300" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>-->

    <add Code="InterfaceLogServer_66" Address="192.168.6.125" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="300" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="66" Address="192.168.1.66" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="300" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="lixiaobo" Address="192.168.2.117" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="1000" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="zhangtengjiao" Address="192.168.2.31" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="3000" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="23" Address="192.168.2.23" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="3000" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="zhoulin" Address="192.168.2.166" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="30000" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="xiexiaowen" Address="192.168.2.233" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="30000" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
    <add Code="pengshan" Address="192.168.2.89" Port="9090" Protocal="Tcp" PerformanceValue="60" CreditValue="60" Timeout="30000" ServerStatus="Active" IsProvideService="1" IsDistribution="0"/>
  </Servers>
  <TaskAllocAlgProviders DefaultProvider="TaskAllocAlgProvider">
    <add Name="TaskAllocAlgProvider" Type="JinRi.Notify.Frame.TaskAllocAlgProvider, JinRi.Notify.Frame"/>
  </TaskAllocAlgProviders>
  <TaskHandles>
    <add Task="GetFileTransHandle" Handle="JinRi.Notify.Frame.GetFileTransHandle, JinRi.Notify.Frame"/>
    <add Task="FileTransHandle" Handle="JinRi.Notify.Frame.FileTransHandle, JinRi.Notify.Frame"/>
    <add Task="LogMessage" Handle="JinRi.Notify.Frame.LogMessageTaskHandle, JinRi.Notify.Frame"/>
  </TaskHandles>
  <Memcached InitConnections="3" MinConnections="3" MaxConnections="16"
             SocketConnectTimeout="1000" SocketTimeout="3000"
             MaintenanceSleep="30" Failover="1" Nagle="0">
    <add Address="114.80.75.18" Port="20003" /> 
  </Memcached>
  <Redis AutoStart="true" DefaultDb="0" MaxReadPoolSize="60" MaxWritePoolSize="60">
    <add Address="192.168.2.196" Port="6379" Access="4" />
  </Redis>
  <log4net debug="true">
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/" />
      <datePattern value="yyyy.MM'.bookingsoa.log.resources'" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="5" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{log4net:HostName}][Thread:%thread][%level] %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="Error" />
      <!--默认系统日志往mongodb中存日志-->
      <!--<appender-ref ref='MongoDBAppender' />-->
      <appender-ref ref="RollingFile"  />
    </root>
    <!--文本日志-->
    <logger name="FileLogger" additivity="false">
      <appender-ref ref="RollingFile"  />
    </logger>
  </log4net>
</configuration>