<?xml version="1.0" encoding="utf-8"?>
<client>
  <endpoint address="http://192.168.5.149:8060/ReceiveService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiveService"
            contract="ReceiverReceiveServiceSOA.IReceiveService" name="BasicHttpBinding_IReceiveService" />
  <endpoint address="http://192.168.1.203:11216/InstructionService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInstructionService"
            contract="InstructionServiceSOA.IInstructionService" name="BasicHttpBinding_IInstructionService" />
  <endpoint address="http://192.168.5.149:8030/SendService.svc" binding="basicHttpBinding"
      bindingConfiguration="BasicHttpBinding_ISendService" contract="SenderSendServiceSOA.ISendService"
      name="BasicHttpBinding_ISendService" />
</client>