<?xml version="1.0" encoding="utf-8"?>
<client>
  <endpoint address="http://192.168.5.149:8030/SendService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISendService"
      contract="SenderSendServiceSOA.ISendService" name="BasicHttpBinding_ISendService" />
  <endpoint address="http://192.168.6.113:8105/InstructionService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInstructionService"
              contract="InstructionServiceSOA.IInstructionService" name="BasicHttpBinding_IInstructionService" />
</client>